.page{
    position: relative; 
    min-height:100vh;
    display: flex;
    padding: 1rem;
}

.tab-container{
    position: fixed;
    z-index: 10;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%; 
    background-color:lightgray; 
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* outline: 1px red solid; */
    /* transition: transform .1s ease-out; */
    transform: translateY(0%);
    transition: transform .1s ease-out;
}

.tab-container.tab-dismiss{
    transform: translateY(100%);
    transition: transform .1s ease-in;
}

.tab-container > div{
    /* outline: 1px red solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
}