img{
    transition: all 0.3s ease-in-out;
}

.not-loaded{
    transform: scale(120%) translateY(0.5rem);
    filter:blur(5rem)
}

.loaded{
    transform: scale(100%) translateY(0rem);
    filter:blur(0rem)
}