/* =====================
Layout
========================*/
.layout {
    display: flex;
    margin: 0 auto;
    position: relative;
}
@media (min-width:640px) {
    .layoutRestrict, .headerRestrict {
        max-width: var(--sm);
    }
}
@media (min-width:768px) {
    .layoutRestrict, .headerRestrict {
        max-width: var(--md);
    }
}
@media (min-width:1024px) {
    .layoutRestrict, .headerRestrict {
        max-width: var(--lg);
    }
}
@media (min-width:1280px) {
    .layoutRestrict, .headerRestrict {
        max-width: var(--xl);
    }
}
@media (min-width:1536px) {
    .layoutRestrict, .headerRestrict {
        max-width: var(--2xl);
    }
}



/* =====================
Layout
========================*/
.sidebarHolder{
    width: 250px;
    display: none;
    flex-shrink: 0;
}
.sidebar {
    width: 250px;
    display: none;
    position: fixed;
    z-index: 11;
}

@media (min-width:768px) {
    .sidebarHolder {
        display: block;
    }
}
@media (min-width:768px) {
    .sidebar {
        display: block;
    }
}


/* =====================
Content 
========================*/
.content {
    background-color: var(--gold4);
    transition: var(--transition-fast);
    margin: 0 auto;
    padding: 0rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* ====================
Header
=====================*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 1rem;
    margin: 0 auto;
}

.headerNoPadding{
    /* position: fixed;
    z-index: 10; */
    padding: 0rem;
}

.headerLogo {
    visibility: block;
}

@media (min-width:768px) {
    .headerLogo {
        visibility: hidden;
    }
}


.logoVisible{
    visibility: visible;
}

.controls{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.hamburgerIcon{
    color: var(--gold12);
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    border: none;
    cursor: pointer;
}

@media (min-width:768px) {
    .hamburgerIcon {
        display: none;
    }
}




/* ====================
Main
=====================*/
.main {
    flex-grow: 1;
    margin-bottom: 4rem;
    width: 100%;
    height: 100%;
    position: relative;
}


/* ====================
Footer
=====================*/
.footer {
    padding: 1rem 0rem;
    width: 100%;
}


/* ====================
Dialog Menu
=====================*/
.dialogMenu{
    position:fixed;
    top:0;
    left:0;
    z-index:15;
    width: 100vw;
    height: 100vh;
    
}

.XIcon{
    position:absolute;
    top:0;
    right:0;
    color: var(--gold12);
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    border: none;
    cursor: pointer;
    margin-top: 1.3rem;
    margin-right: 1rem;
}